* {
    font-family: Verdana, sans-serif;
    color: #212427;
}

/* FLEX */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

/* Utils */

.hidden { 
    display: none;
}

.p-1 {
    padding: 1em;
}

.pt-3 {
    padding-top: 3em;
}

.pb-0 {
    padding-bottom: 0;
}

.mr-1 {
    margin-right: 1em;
}

/* Chart / Bars */

div.chart>div.category>div.bar {
    display: flex;
    justify-content: space-between;

    width: calc(100% - 4em);
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background: linear-gradient(90deg, var(--color) var(--percentage), #fff var(--percentage));
}

div.chart>div.category>div.label {
    float: left;
    width: calc(100% - 1em);
    padding: 1em;
}

div.chart>div.category>div.bar>div:nth-child(2) {
    color: #cecece;
}


/* Header */

#header {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#header>h1 {
    font-size: 4em;
    margin-bottom: 0;
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    height: calc(100% - 2em);
    width: calc(100% - 2em);

    background-color: white;
    padding: 1em;
}


/* Expense */

#expenses {
    margin-bottom: 3em;
}

.expense {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.expense > div {
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}