
* {
    margin: 0;
    padding: 0;
}

div.category>div.bar {
    display: flex;
    justify-content: space-between;
    
    width: calc(100% - 2em);
    padding: 0.5em;
    margin: 0.5em;
    background: linear-gradient(90deg, var(--color) var(--percentage), #fff var(--percentage));
}

.chart>div.category>div.label {
    float: left;
    width: calc(100% - 1em);
    padding: 0.5em;
}