* { margin: 0; padding: 0; float: left; color: #333; }

body {
  background-color: #F6F6F6;
  width: 100%;
}

h1 {
  padding: 0.5em;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
  background-color: #333333;
  color: #F6F6F6;
}

#app, #list, #list > div { width: 100%; }

#destination {
  width: 100%;
  float: left;
  height: 100px;
  text-align-last:center;
}

#routeSelector:disabled {
  color: gray;
}

.stop {
  width: 100%;
}

.stop:nth-child(odd) {
  background-color: #E8E8E8;
}

.time {
  padding: 1em;
  padding-left: 0.5em;
}

.bus-name {
  padding: 1em;
}

.destination {
  padding: 1em;
  float: right;
}

.pulse-icon {
  margin-right: 0.5em;
  width: 14px;
  height: 14px;
  background: url('data:image/svg+xml;utf8,<svg style="fill: rgb(0,102,43);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path class="pulse1" d="M368.356 1024.014c-44.781 0-81.079-36.302-81.079-81.079 0-361.528 294.123-655.658 655.651-655.658 44.781 0 81.079 36.302 81.079 81.079s-36.298 81.079-81.079 81.079c-272.112 0-493.497 221.385-493.497 493.5 0.004 44.773-36.295 81.079-81.075 81.079z"></path><path class="pulse2" d="M81.072 1024.014c-44.781 0-81.079-36.302-81.079-81.079 0-519.948 423.002-942.946 942.939-942.946 44.781 0 81.079 36.302 81.079 81.079s-36.298 81.079-81.079 81.079c-430.524 0-780.781 350.257-780.781 780.788 0 44.773-36.298 81.079-81.079 81.079z"></path></svg>');
}

.bus-icon {
  width: 30px;
  height: 30px;
  margin-top: 0.7em;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" style="fill: rgb(0, 102, 43);" xmlns="http://www.w3.org/2000/svg"><path d="M921.607 1024.025h-819.214c-56.554 0-102.4-45.846-102.4-102.4v-819.251c0-56.554 45.846-102.4 102.4-102.4h819.214c56.554 0 102.4 45.846 102.4 102.4v819.247c0 56.557-45.846 102.404-102.4 102.404z"></path><path fill="rgb(255, 255, 255)" d="M771.175 102.393h-518.351c-28.629 0-51.836 23.207-51.836 51.836v622.019c0 28.629 23.207 51.836 51.836 51.836h518.351c28.629 0 51.836-23.207 51.836-51.836v-622.019c0-28.629-23.207-51.836-51.836-51.836zM396.797 148.709h230.409v39.011h-230.409v-39.011zM292.504 735.209c-21.913 0-39.68-17.766-39.68-39.68s17.766-39.68 39.68-39.68c21.917 0 39.68 17.766 39.68 39.68 0.004 21.913-17.763 39.68-39.68 39.68zM731.496 735.209c-21.917 0-39.68-17.766-39.68-39.68s17.766-39.68 39.68-39.68c21.913 0 39.68 17.766 39.68 39.68s-17.766 39.68-39.68 39.68zM771.175 528.112c0 9.385-6.279 17.586-15.342 20.020-36.118 9.703-131.95 32.205-243.833 32.205s-207.719-22.506-243.833-32.205c-9.064-2.435-15.342-10.635-15.342-20.020v-280.912c0-11.452 9.284-20.732 20.736-20.732h476.883c11.452 0 20.736 9.284 20.736 20.732v280.912z"></path><path fill="rgb(255, 255, 255)" class="path3" d="M252.825 827.209h79.363v94.398h-79.363v-94.398z"></path><path fill="rgb(255, 255, 255)" class="path4" d="M691.812 827.209h79.363v94.398h-79.363v-94.398z"></path></svg>') center center no-repeat;
}

@keyframes blink { 0% {opacity: 0} 49%{opacity: 0} 50% {opacity: 1}}

.pulse-icon {animation: blink 1s infinite;}

.pulse-icon.hidden { background: none; }
