* {
    padding: 0;
    margin: 0;
}

html {
    color: #222;
    font-family: Verdana,sans-serif;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5em;

    line-height: 1.66rem;
    font-size: 16px;
}

h2, h3 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

h2>a, h3>a {
    color: #212427;
    text-decoration: none;
    border-width: 0;
}

a:focus {
    outline: none;
}

ul {
    padding-left: 1rem;
}

ul>li {
    padding-top: 0.5rem;
}

#container {
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
}

#header {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#header>h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

#content {
    margin-bottom: 2rem;
}

#toc {
    display: flex;
    justify-content: space-between;
}

.example {
    margin-top: 0.75rem;
    padding: 1rem;
    background-color: #f7f7f7;
}

@media (min-width: 801px) {
    #container {
        width: 40%;
        margin-left: 30%;
    }

    #toc {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }
}

