* {
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana,sans-serif;
}

body {
    color: #212427;
}

p {
    padding-top: 0.5em;
    padding-bottom: 0.5m;

    line-height: 1.66em;
    font-size: 16px;
}

h2, h3 {
    padding-top: 2em;
    padding-bottom: 0.5em;
}

h2>a, h3>a {
    color: #212427;
    text-decoration: none;
    border-width: 0;
}

h2>a:hover, h3>a:hover {
    border-width: 0;
}

#container {
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
}

#header {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#header>h1 {
    font-size: 4em;
    margin-bottom: 0;
}

ul {
    padding-left: 1em;
}

ul>li {
    padding-top: 0.5em;
}

#content {
    margin-bottom: 2rem;
}

#toc {
    display: flex;
    justify-content: space-between;
}

.example {
    margin-top: 0.75em;
    padding: 1em;
    background-color: #f7f7f7;
}

@media (min-width: 801px) {
    #container {
        width: 40%;
        margin-left: 30%;
    }

    #toc {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }
}

.mb-1 {
    margin-bottom: 1em;
}

.mt-1 {
    margin-top: 1em;
}